* { 
    /* global selector, remove the inside and outside padding */
    padding:0;
    margin:0;
}
body {
    display:flex;
    /* horizontal center */
    justify-content:center;
    /* vertical center */
    align-items:center;
    height: 100vh;
    background-color: #00034b;
}

.container .ghost{
    position: relative;
    width: 150px;
    height: 225px;
    background-color: #fff;
    /* top-left, top-right, bottom-right, bottom-left */
    border-radius: 75px 75px 0 0;
    /* x偏移量 | y偏移量 | 阴影模糊半径 | 阴影扩散半径 | 阴影颜色 */
    box-shadow: -17px 0 0 #dbdbdb inset, 0 0 50px #5939db;
    animation: ghost 2s infinite;
}

/* Eyes*/
.container .ghost .ghostEyes {
	/* flex layout */
	display: flex;
	/* 让元素平均分配宽度 */
	justify-content: space-around;
	width: 90px;
	padding-top: 70px;
	margin: 0 auto;
}

.container .ghost .ghostEyes::before,
.container .ghost .ghostEyes::after {
    content:"";
    width: 15px;
    height: 25px;
    border-radius: 50%;
    background-color: #00034b;

}

/* blush dimples*/
.container .ghost .ghostDimples {
    display: flex;
    justify-content: space-around;
    width: 130px;
    padding-top: 15px;
    margin: 0 auto;
}

.container .ghost .ghostDimples::before,
.container .ghost .ghostDimples::after {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffbeff;
}

.container .ghost .ghostFeet {
    display: flex;
    position:absolute;
    width: 100%;
    bottom: -13px;
}

.container .ghost .ghostFeet .ghostFoot {
    width:25%;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
}

/* feet shadow */
.container .ghost .ghostFeet .ghostFoot:last-child{
    background-image: linear-gradient(to right, #fff 55%, #dbdbdb 45%);
}

/* shadow */
.container .shadow {
	width: 150px;
	height: 40px;
	margin-top: 50px;
	border-radius: 50%;
	background-color: #000232;
	/* 动画  名称 时长 infinite是无限次播放 */
	animation: shadow 2s infinite;
}

/* animation */
@keyframes ghost {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes shadow {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		/* 缩放 .9比1小一点点 */
		transform: scale(0.9);
	}
}
